<app-navbar></app-navbar>

<body>
  <header>
    <h1>HEALTHY TRUCK</h1>
  </header>

  <div class="body-container">
    <div class="login-container">
      <h1>Login</h1>
      <form action="/login" method="POST" autocomplete="off">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group checkbox-group">
          <label>
            <input type="checkbox" name="rememberMe" /> Recordarme
          </label>
        </div>
        <button type="submit">Login</button>
      </form>
      <footer>
        <p>&copy; 2025 Healthy Truck. Todos los derechos reservados.</p>
      </footer>
    </div>
  </div>
</body>